<!DOCTYPE html>
<html>
  <head>
    <title>rac community</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="shortcut icon" type="image/c-icon" href="<%= @s3_path %>/statics/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0,viewport-fit=cover">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6RzM8qVVrPAc9uELuqmfMKxs6RIIpHmQ"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.283.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2.4.0/dist/email.min.js"></script>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="<%= @s3_path %>/statics/rotaract_logo.png" sizes="120x120"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  </head>
  <body>
    <input type="hidden" id="s3_path" value="<%= @s3_path %>">
    <input type="hidden" id="current_user_id" value="<%= @current_user_id %>">

    <div class="left_bar_base">
      <div class="logo_title">
        Manager
        <img src="<%= @s3_path %>/statics/rotaract_logo.jpeg" alt="">
      </div>
      <input type="radio" name="page_input_" id="page_input_0" checked>
      <label for="page_input_0" class="inline">
        <div class="wrap">
          <div class="icn"><i class="fas fa-calendar-star"></i></div>
          <div class="txt">イベント</div>
          <div class="indi"></div>
        </div>
      </label>
      <input type="radio" name="page_input_" id="page_input_1">
      <label for="page_input_1" class="inline">
        <div class="wrap">
          <div class="icn"><i class="fas fa-users"></i></div>
          <div class="txt">ユーザ</div>
          <div class="indi"></div>
        </div>
      </label>
      <input type="radio" name="page_input_" id="page_input_2">
      <label for="page_input_2" class="inline">
        <div class="wrap">
          <div class="icn"><i class="fas fa-club"></i></div>
          <div class="txt">クラブ</div>
          <div class="indi"></div>
        </div>
      </label>
      <input type="radio" name="page_input_" id="page_input_3">
      <label for="page_input_3" class="inline">
        <div class="wrap">
          <div class="icn"><i class="fas fa-map-marked-alt"></i></div>
          <div class="txt">地区</div>
          <div class="indi"></div>
        </div>
      </label>
      <input type="radio" name="page_input_" id="page_input_4">
      <label for="page_input_4" class="inline">
        <div class="wrap">
          <div class="icn"><i class="fas fa-analytics"></i></div>
          <div class="txt">分析・集計</div>
          <div class="indi"></div>
        </div>
      </label>
    </div>

    <div class="top_bar_base" id="top_bar_base">
    </div>

    <%= yield %>
  </body>
</html>
