<div class="page_base hb">
  <div class="manual_base">
    <img src="<%= @s3_path %>/statics/manual/manual_image_1.jpg" alt="">
    <img src="<%= @s3_path %>/statics/manual/manual_image_2.jpg" alt="">
    <img src="<%= @s3_path %>/statics/manual/manual_image_3.jpg" alt="">
    <img src="<%= @s3_path %>/statics/manual/manual_image_4.jpg" alt="">
    <img src="<%= @s3_path %>/statics/manual/manual_image_5.jpg" alt="">
    <img src="<%= @s3_path %>/statics/manual/manual_image_6.jpg" alt="">
    <img src="<%= @s3_path %>/statics/manual/manual_image_7.jpg" alt="">
    <img src="<%= @s3_path %>/statics/manual/manual_image_8.jpg" alt="">
    <img src="<%= @s3_path %>/statics/manual/manual_image_9.jpg" alt="">
    <img src="<%= @s3_path %>/statics/manual/manual_image_10.jpg" alt="">
    <img src="<%= @s3_path %>/statics/manual/manual_image_11.jpg" alt="">
    <img src="<%= @s3_path %>/statics/manual/manual_image_12.jpg" alt="">
    <img src="<%= @s3_path %>/statics/manual/manual_image_13.jpg" alt="">
    <img src="<%= @s3_path %>/statics/manual/manual_image_14.jpg" alt="">
    <img src="<%= @s3_path %>/statics/manual/manual_image_15.jpg" alt="">
    <img src="<%= @s3_path %>/statics/manual/manual_image_16.jpg" alt="">
    <img src="<%= @s3_path %>/statics/manual/manual_image_17.jpg" alt="">
  </div>
</div>

<input type="hidden" id="page_js_status">
